* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Nohemi';
  src: 
       url('../fonts/Nohemi-Regular-BF6438cc579d934.woff') format('woff'); /* Older Browsers */
       src: url(../fonts/Nohemi-Regular-BF6438cc579d934.woff);
       font-weight: bold;
       font-style: normal;
}

html {
  --font_color: rgba(243, 243, 243, 1);
  --headers_font: 
  --p_font:
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  /* background-color: grey; */
  color: var(--font_color);
  background-image: url(/public/background_img.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  line-height: 1.5;

  
}


/* font og farver */

h1 {
  font-size: 3.5rem;
  font-family: Nohemi;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: Nohemi;
  
}
h3 {
  font-size: 1.3rem;
  font-family: Nohemi;
}
p, a {
  font-size: 0.9rem;
  max-width: 65ch;
  
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 11rem;
   
  }

  h2 {
    font-size: 4rem;

  }
  h3 {
    font-size: 3rem;
  }
  p, a {
    font-size: 1.5rem;
  }
}

/* --- */

.nav-link {
  transition: 0.7s ease;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

ul.menu {
  display: none;
}

.hamburger {
  display: flex;
  color: white;
  margin-left: 300px;
  z-index: 99;
  display: block;
  cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-item {
  margin: 16px 0;
}
.nav-menu.active {
  left: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  font-size: 35px;
  overflow: hidden;
  width: 100%;
  height: 80px;
  z-index: 1;
  position: fixed;
}

/* Div class udenom menu elementerne*/
.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  z-index: 1;
  position: fixed;
  left: -100%;
  top: 0px;
  flex-direction: column;
  background-color: black;
  width: 100%;
  height:100%;
  text-align: center;
  transition: 0.3s;
}

/* Fjerner list-style prikker*/
li {
  list-style: none;
  margin: 10px;
}
/* Fjerner understregning på*/
a {
  text-decoration: none;
  color: black;
}

/* Links i nav-baren*/
.navbar a {
  float: left;
  
  color: white;
  text-align: center;

  text-decoration: none;
}
.navbar a:hover {
  color: #d68c45;
}

/* Så links i dropdown er block, og derfor vises*/
.dropdown:hover .dropdown-content {
  display: block;
}
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: black;
}
