---
import "../styles/style.css";
import Forside_om_os from "../components/Forside_om_os.astro";
import Footer from "../components/Footer.astro";
import Button from "../components/Button.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>Astro</title>
  </head>
  <body>
    <header>
      <Burger />
    </header>
    <main>
      <Forside_om_os />
      <Button>Read more</Button>

      <Tickets />
      <Posters>
        <img src="/thursday-poster.webp" alt="Thursday program" />
        <img src="/friday-poster.webp" alt="Thursday program" />
        <img src="/saturday-poster.webp" alt="Thursday program" />
      </Posters>
    </main>
  </body>
</html>
