---
import "../styles/style.css";
import Forside_om_os from "../components/Forside_om_os.astro";
import Button from "../components/Button.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>Astro</title>
  </head>
  <body>
    <main>
      <Forside_om_os />
      <Button>Read more</Button>
    </main>
  </body>
</html>
