---
const { myData } = Astro.props;
---

<section>
  <h2>Hej</h2>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam quibusdam
    repellat id magnam et, nihil vel quae consectetur minima culpa, minus beatae
    provident a expedita nisi molestiae, qui illo nostrum!
  </p>
</section>
