---

---

<footer>
  <p class="footer_p">Submit to our newsletter for the latest Karrusel news:</p>
  <div class="form">
    <form>
      <input type="text" id="email" placeholder="E-mail" />
      <a href="/newsletter"></a>
      <input class="submit_btn" type="submit" value="submit" />
    </form>

    <div class="footer">
      <a href="/">
        <img class="logo_footer" src="/img/logo_karrusel.svg" alt="Logo" />
      </a>
      <div class="footer_a">
        <a href="/about">About us</a>
        <br />
        <a href="/">Line up</a>
      </div>
    </div>
  </div>
  <style>
    .logo_footer {
      height: 4rem;
    }
    p {
      margin: auto;
      max-width: 20rem;
    }

    form {
      padding: 1rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      z-index: 1;
      margin: 0 auto;
    }
    .form {
      z-index: 1;
    }
    .submit_btn {
      align-items: center;
      text-align: center;
      color: black;
      margin: 0 auto;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .footer a:hover {
      color: var(--accent_hover);
    }
    input {
      display: block;
      color: black;
      padding: 2px;
      margin: 0 auto;
      width: 325px;
      border-radius: 10px;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    footer {
      background-color: #00000050;
      margin-top: 3rem;
      padding: 2rem;
    }
    .footer_a a {
      color: white;
    }
  </style>
</footer>
