---

---

<footer>
  <div class="form">
    <h3>Submit to our newsletter for the latest Karrusel news</h3>
    <form>
      <input type="text" id="email" placeholder="E-mail" />
      <input type="submit" value="submit" />
    </form>
  </div>

  <div class="footer"></div>
</footer>
<style>
  .logo {
    height: 75px;
    width: 75px;
  }
  .form {
    margin: 0 auto;
  }
  footer {
    display: flex;
  }
</style>
