---

---

<footer>
  <h3>Submit to our newsletter for the latest Karrusel news</h3>
  <div class="form">
    <form>
      <input type="text" id="email" placeholder="E-mail" />
      <input class="submit_btn" type="submit" value="submit" />
    </form>
  </div>

  <div class="footer">
    <a href="/index">
      <img class="logo_footer" src="/img/logo_karrusel.svg" alt="Logo" />
    </a>
    <div>
      <a href="/about">About us</a>
      <br />
      <a href="/index">Line up</a>
    </div>
  </div>
</footer>
<style>
  .logo_footer {
    height: 60px;
  }
  h3 {
    text-align: center;
  }
  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    margin: 0 auto;
  }
  .submit_btn {
    align-items: center;
    text-align: center;
    color: black;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer a:hover {
    color: blue;
  }
  input {
    display: block;
    color: black;
    padding: 2px;
    margin: 0 auto;
    width: 350px;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
</style>
