---

---

<article>
  <h2>Located at an oasis in the city</h2>
  <p>Karrusel offers an immersive festival experience like no other. Listen to your favorite artist in an unforgetable crazy 3 day Karrusel experience.</p>
  <slot />
</article>

<style>
  article{
    margin: auto;
  }

  h2{
  text-align: center;
}
p{
    margin: 2rem;
  }

@media (min-width: 700px) {
  p{
    margin: auto;
}
}

</style>
