---

---

<article>
  <h2>Located at an oasis in the city</h2>
  <p>Karrusel offers an immersive festival experience like no other. Listen to your favorite artist in an unforgetable crazy 3 day Karrusel experience.</p>
  <slot />
</article>

<style></style>
