---

---

<article>
  <img src="/img/hero_img.jpg" alt="" />
  <h1>Karrusel</h1>
</article>

<style>
  article {
    margin-bottom: 15rem;
  }
  img {
    position: absolute;
  }
  h1 {
    position: relative;
    text-align: center;
    align-self: center;
  }

  @media (min-width: 700px) {
    article {
      margin-bottom: 35rem;
    }
  }
</style>
