---

---

<article>
    <img src="/img/hero_img.jpg" alt="">
    <h1>Karrusel</h1>
  

</article>

<style>

    article{
        margin-bottom: 35rem;
       
    }
    img{
        position: absolute;

    }
    h1{
        position: relative;
        text-align: center;
        align-self: center;
    }
</style>