---

---

<article>
    <img src="/img/hero_img.jpg" alt="">
    <h1>Karrusel</h1>
  

</article>

<style>

    article{
        margin-bottom: 20rem;
       
    }
    img{
position: absolute;
;

    }
    h1{
        position: relative;
    }
</style>