---

---

<article class="hero_img">
  <img src= alt="" />
  <h1>Karrusel</h1>
</article>

<style>
  .hero_img {
    margin-bottom: 15rem;
  }

  h1 {
    position: relative;
    text-align: center;
    align-self: center;
  }

  @media (min-width: 700px) {
    .hero_img {
      margin-bottom: 35rem;
    }
  }
</style>
