---

---
<article>
    <h2>

    </h2>
    <div class="grid1-1-1">
        <div class="day">
            <h2>Thursday</h2>
            <ul>
                <li> <a href="">Navn</a></li>
            </ul>
            <ul>
                <li> <a href="">Navn</a></li>
            </ul>
            <ul>
                <li> <a href="">Navn</a></li>
            </ul>
            <ul>
                <li> <a href="">Navn</a></li>
            </ul>
        </div>
        <div class="day">
            <h2>Friday</h2>
            <ul>
                <li> <a href="">Navn</a></li>
            </ul>
            <ul>
                <li> <a href="">Navn</a></li>
            </ul>
            <ul>
                <li> <a href="">Navn</a></li>
            </ul>
            <ul>
                <li> <a href="">Navn</a></li>
            </ul>
        </div>
        <div class="day">
            <h2>Saturday</h2>
            <ul>
                <li> <a href="">Navn</a></li>
            </ul>
            <ul>
                <li> <a href="">Navn</a></li>
            </ul>
            <ul>
                <li> <a href="">Navn</a></li>
            </ul>
            <ul>
                <li> <a href="">Navn</a></li>
            </ul>
        </div>
     </div>
     <slot />
</article>

<style>

    @media (min-width: 700px) {
        .grid1-1-1{
           display: flex;
           flex-direction: row;
           justify-content: space-evenly;
        }
        .day{
           text-align: center;
        }
    }
</style>