---
import { isVNode } from "astro/jsx-runtime";

const { data } = Astro.props;
---

<section class="grid">
  <a href={`artister/${data.slug}`}>
    <article>
      {
        data ? (
          <>
            <p>{data.artist}</p>
          </>
        ) : (
          <p>Loading...</p>
        )
      }
    </article>
  </a>

  <a href={`artister/${data.slug}`}>
    <article>
      {
        data ? (
          <>
            <p>{data.artist}</p>
          </>
        ) : (
          <p>Loading...</p>
        )
      }
    </article>

    <style>
      article {
        text-align: center;
        line-height: 3rem;
        color: var(--font_color);
      }
      .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
    </style>

    <style>
      article {
        text-align: center;
        line-height: 3rem;
        color: var(--font_color);
      }
      .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
    </style>
  </a>
</section>

<style>
  article {
    text-align: center;
    line-height: 3rem;
    color: var(--font_color);
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
</style>
