---
import { isVNode } from "astro/jsx-runtime";

const {data} = Astro.props;

---
<a href={`artister/${data.slug}`}>
<article>
    {data ? (
      <>
        <p>{data.artist}</p>
      </>
    ) : (
      <p>Loading...</p>
    )}
  </article>
</a>

  <style>
    article{
      text-align: center;
      font-size: 20rem;
    }
  </style> 