---

---

<h2>Newsletter</h2>
<section>
  <h2>Equipment</h2>
  <p>It’s not a rave untill you feel the bass in your heart and the lighting sends you to another solar system. We proudly partner with Funktion One, the leading sound system in the world, for the best possible experience for you & for our lovely artist.</p>

  <img src="/img/simon_lau.jpg" />
</section>
<section>
  <h2>Style</h2>
  <p>We embrace all clothing styles. Feel free to embrace our circus rave-ish style, or show us your own take. Karrusel is harrasment & judgment free, so go crazy & be yourself.</p>
  <img src="/" />
  <img src="/" />
  <img src="/" />
</section>
<section>
  <h2>Our commitment</h2>
  <p>Our commitment has always been to create a festival that underlines our love for tech-style House & Disco, while welcoming everyone. We don’t care if it’s your first time or if you’re a die-hard tech lover - Bring love, and we will sort the rest.</p>
  <img src="/img/mantas_hesthaven.jpg" />
</section>
<style>
  img {
    width: 100%;
  }
</style>
