---

---

<section>
  <h2 class="hero_h2">Get ready for 3 days of Techno, House & Disco</h2>
  <h3>Karrusel offers an immersive festival experience like no other. Listen to your favorite artist in an unforgetable crazy 3 day Karrusel experience</h3>
</section>
<div class="gallery_1">
  <div class="gallery">
    <img src="/img/peggy_gou.jpg" />
    <img src="/img/andreas_billede.jpg" />
    <img src="/img/mckenzie_billede.jpg" />
    <img src="/img/mantas_24.jpg" />
    <img src="/img/mantas_36.jpg" />
    <img src="/img/mantas_36.jpg" />
  </div>
</div>

<h3>Freedom, Inclusion, Community & Dancing!</h3>

<section>
  <h3>A safe ride on the Karrusel</h3>
  <p>We want to create a safe & harrasment free festival experience for all beings. Follow our Pink Vest awareness team for any inquiries. We encourage you to embrace diversity, respect boundaries & Dance!</p>
</section>

<section>
  <h3>Facilities like no other festival</h3>
  <p>Given out nature as a circus rave, we offer rides on our very own carrusel. Que up for the ride of a lifetime.</p>
</section>
<section>
  <h3>Sustainability</h3>
  <p>We strive to be as sustainable as possible - if we don't, who will?</p>
  <p>We re-use productions and prints whenever we can Food and drinks are served in reusable materials - no straws</p>
</section>

<style>
  body {
    margin: 0.5rem;
  }
  .hero_h2 {
    padding-top: 4rem;
  }
  h3 {
    text-align: center;
    padding-top: 1.5rem;
  }
  img {
  }
  /* .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  } */
  /* .gallery_1 {
    display: grid;
    gap: 5px;
  } */
  .gallery {
    display: grid;

    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
</style>
