---

---

<section>
  <h1>Get ready for 3 days of Techno, House & Disco</h1>
  <h3>Freedom, Inclusion, Community & Dancing!</h3>
  <img src="/" />
  <p>Karrusel offers an immersive festival experience like no other. Listen to your favorite artist in an unforgetable crazy 3 day Karrusel experience.</p>
</section>
<section>
  <h2>A safe ride on the Karrusel</h2>
  <p>We want to create a safe & harrasment free festival experience for all beings. Follow our Pink Vest awareness team for any inquiries. We encourage you to embrace diversity, respect boundaries & Dance!</p>
</section>

<section>
  <h2>Facilities like no other festival</h2>
  <p>Given out nature as a circus rave, we offer rides on our very own carrusel. Que up for the ride of a lifetime.</p>
</section>
<section>
  <h2>Sustainability</h2>
  <p>We strive to be as sustainable as possible - if we don't, who will?</p>
  <ul>
    <li>We re-use productions and prints whenever we can</li>
    <li>Food and drinks are served in reusable materials - no straws</li>
  </ul>
</section>
