---

---

<article>
  <div class="scroll-container">
    <h2>Buy Tickets</h2>
    <h2 class="variant">Buy Tickets</h2>
    <h2>Buy Tickets</h2>
    <h2 class="variant">Buy Tickets</h2>
    <!-- Repeat the content to create a seamless loop -->
    <h2>Buy Tickets</h2>
    <h2 class="variant">Buy Tickets</h2>
    <h2>Buy Tickets</h2>
    <h2 class="variant">Buy Tickets</h2>
    <h2>Buy Tickets</h2>
    <h2>Buy Tickets</h2>
    <h2 class="variant">Buy Tickets</h2>
    <h2>Buy Tickets</h2>
    <h2 class="variant">Buy Tickets</h2>
    <h2>Buy Tickets</h2>
    <h2>Buy Tickets</h2>
    <h2 class="variant">Buy Tickets</h2>
    <h2>Buy Tickets</h2>
  </div>
</article>

<style>
  article {
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    color: #fff;
    padding: 20px 0;
    margin: 5rem 0;
  }


  .scroll-container {
    display: flex;
    animation: scrollText 11s linear infinite;
  }
  h2,
  .variant {
    color: var(--font_color);
    margin: 0 100px; /* Adjust spacing between items */
    font-size: 2rem;
  }

  h2, .variant:hover{
    cursor: pointer;
  }

  @media (min-width: 700px) {
    article {
      margin-bottom: 10rem;
    }
    h2,
    .variant {
      color: var(--font_color);
      margin: 0 100px; /* Adjust spacing between items */
      font-size: 5rem;
      text-transform: capitalize;
    }
  }

  .variant {
    color: var(--color_ticket);;
  }

  @keyframes scrollText {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
</style>
