<article>
    <h2>
        Buy Tickets
    </h2>
    <h2 class="varient">
        Buy Tickets
    </h2>
    <h2>
        Buy Tickets
    </h2>
    <h2 class="varient">
        Buy Tickets
    </h2>
</article>